In [12]:
import pandas as pd

In [ ]:
**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [60]:

data = pd.read_csv('ratings.csv')
rating = data[(data['rating'] == 5)]
rating['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [ ]:
**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [49]:
data_table = pd.read_csv('power.csv')
group_countries = data_table[(data_table['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) &
                             (data_table['category'].isin(['4', '12', '21'])) &
                             ((data_table['year'] >=2005) & (data_table['year'] <=2010)) &
                             (data_table['quantity'] > 0)]
a = group_countries.quantity.sum() 

a

240580.0

In [ ]:
**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [32]:
page_url = 'https://fortrader.org/quotes'

In [37]:
pd.read_html('https://fortrader.org/quotes')[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,43.940,-0.010,-0.020,NaN
1,Нефть (WTI) Цены на нефть (WTI),41.460,-0.260,-0.620,NaN
2,Сахар котировки на сахар,12.630,11.460,979.490,NaN
3,Газ Цена на газ,1.756,0.025,1.444,NaN